* text=auto eol=lf
wallet/windows/sov-node/src/** text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.jks binary
*.keystore binary
*.tflite binary
*.so binary
*.dll binary
*.exe binary
